/****************************************************************
  Global selectors 
****************************************************************/
html {
  font-size: 100%;
  box-sizing: border-box;
  word-break: normal;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
}

::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
}

* {
  margin: 0;
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
}

/****************************************************************
  General elements　一般的な要素
****************************************************************/
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/****************************************************************
  Forms　フォーム要素
****************************************************************/
input {
  border-radius: 0;
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  border-style: none;
  background-color: transparent;
}

/* Style select like a standard input */
select {
  -webkit-appearance: none;
  /* Chrome 41+ */
  -moz-appearance: none;
  /* Firefox 36+ */
}
/* select::-ms-expand {
  display: block;
} */

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
/*ここまで*/

input[type="submit"] {
  cursor: pointer;
}

/****************************************************************
  Specify media element style メディア要素のスタイルを指定する
****************************************************************/
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

body {
  font-family: 'Work Sans',"游ゴシック体",Meiryo,sans-serif;
  line-height: 1.8;
  color: #7a6e66;
  font-size: 0.9375rem; /*15px*/
  width: 100%;
}

h1,h2,h3,h4 {
  font-weight: 500;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
  margin: 0 0 30px;
  line-height: 1.4;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}

a {
  transition: .3s;
  text-decoration: none;
}

li {
  list-style: desc;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

::selection {
  color: #fff;
  background-color: #F1B8B3;
}

#contents {
  padding: 80px 0 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  h3 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  #contents {
    padding: 60px 0 0;
  }
}
