/* --- スマホで改行 --- */
.pc-only {
  display: block;
}
.sp-only{
  display: none;
}
/* --- 960px --- */
.section__inner {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

/* --- ヘッダー --- */
.site-header {
  background: #add8e6;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  padding: 28px 20px;
  position: fixed;
  z-index: 9999;
}
.site-header h1 {
  font-size: 100%;
}

.logo__link {
  font-size: 20px;
  color: #fff;
}

.global-nav__list {
  display: flex;
}

.global-nav__item {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  list-style: none;
  transition: .4s all;
}
.global-nav__item:not(:last-child){
  margin-right: 20px;
}

.global-nav__item-inner {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #fff;;
    text-decoration: none;
}
.global-nav__item-inner:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F2B8BC;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}
.global-nav__item-inner:hover:after {
  transform: translate(0, 0);
}

/* --- フッター --- */
.site-footer {
  padding: 20px 0;
  background: #e1e1e1;
  text-align: center;
}

.copyright {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

/* --- back to top ボタン --- */
#page-top {
  position: fixed;
  right: 15px;
  z-index: 1;
}

.page-top__link {
  display: block;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  background-color:#AEDBE1;
}

/********************************
  section
*********************************/
section {
  padding: 70px 0;
}

.h2-sub {
  display: block;
  font-size:  .36111em;/*13px*/
  font-weight: normal;
  letter-spacing: .02em;
}

.h3-sub {
  display: block;
  font-size: .5em;
  font-weight: normal;
  letter-spacing: .02em;
  padding: .3em 0 0 .5em;
}

/* --- Profile --- */
#profile {
  background:#fafafa;
  padding: 150px 0 70px; 
}

.profile__img {
  width: 30%;
  margin: 0 auto 30px;
}

.profile-img img {
  border-radius: 50%;
}

.profile__text {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.profile__name {
  line-height: 2.4;
  font-weight: normal;
}

.profile__name span {
  font-size: .75em;
  letter-spacing: .02em;
  padding: 0 0 0 .8em;
}
/* --- career --- */
.career__list {
  display: flex;
  background: #fff;
  width: 80%; 
  margin: 0 auto 25px;
  padding: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 10px;
}
.career__list.last {
  display: block;
}

.flexbox {
  display: flex;
  width: 100%;
}

.date,
.point {
  width: 26%;
  text-align: left;
  padding: 0 1em 0 0;
}

.history {
  text-align: left;
}

.accordion {
  display: flex;
  width: 100%;
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
}
/* アイコンの＋と× */
.accordion::before,
.accordion::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: #555;
}
.accordion::before{
  top:48%;
  right: 15px;
  transform: rotate(0deg);
}
.accordion::after{    
  top:48%;
  right: 15px;
  transform: rotate(90deg);
}
/*　closeというクラスがついたら形状変化　*/
.accordion.close::before{
	transform: rotate(45deg);
}

.accordion.close::after{
	transform: rotate(-45deg);
}

/* アコーディオンで現れるエリア */
.accordion__hide {
  display: none;/*最初は非表示*/
  margin: 0;
  padding: 3em 0 0;
}

.accordion__hide  > .flexbox {
  margin: 0 0 2em;
}

.accordion__hide  > .flexbox:last-child {
  margin: 0;
}

.history-web {
  display: block;
  padding: 0 0 0 1.3em;
  width: 74%;
  text-align: left;
}

/* --- work --- */
#work {
  background:#fafafa;
}

.work__list {
  width: 90%;
  display: flex;
  margin: 0 auto 10px;
  padding: 20px;
  position: relative;
}

.work__img {
  margin: 0 2em 0 0;
}

.details {
  width: 90%;
  text-align: left;
  padding: 0 0 0 1em;
}

.details__title {
  font-weight: normal;
}

.details__desc {
  margin: 1em 0 0;
  padding: 0 0 0 .5em;
}

.details__desc a {
  text-decoration: underline;
}

/*====================================================
Tablet Smartphone　max-width:840px
====================================================
*/
/* --- ヘッダー --- */
@media screen and (max-width:840px) {

  .global-nav {
    display: none;
  }

  .global-nav__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .global-nav__item:not(:last-child){
    margin: 0 0 15px;
  }

  .global-nav__item-inner:after {
    width: 0;
    height: 0;
    background-color: none;
    transform: none;
    transition: none;
  }
  .global-nav__item-inner:hover:after {
    transform: none;
  }

  /* --- career --- */
  .career__list {
    width: 100%; 
  }
}


/*====================================================
Tablet Smartphone　max-width:768px
====================================================
*/
@media screen and (max-width:768px) {

  /* 共通パーツ

  ====================================================*/
  .pc-only {
    display: none;
  }
  .sp-only{
    display: block;
  }

  /* --- ヘッダー --- */
  .site-header {
    height: 60px;
    padding: 17.5px 15px;
  }

  /* --- フッター --- */
  .site-footer {
    padding: 20px 0;
  }

  /* --- back to top ボタン --- */
  #page-top {
    right: 10px;
    bottom: 75px;
  }

  /* --- work --- */
  .work__list {
    width: 100%;
    display: block;
  }

  .details {
    width: 100%;
    padding: 0;
    margin: 2em 0 0;
}

}

/*====================================================
applle Smartphone　max-width:428px
====================================================
*/
@media screen and (max-width:428px) {
  /* --- スマホで改行 --- */
  .pc-only {
    display: none;
  }
  .sp-only{
    display: block;
  }

  /* --- Profile --- */
  .profile__img {
    width: 45%;
  }

  .profile__text {
    width: 90%;
  }

  /* --- Career --- */
  .flexbox {
    display: block;
  }

  .date, 
  .point {
    width: 100%;
    padding: 0;
  }

  .point {
    margin: 0 0 .5em;
  }

  .accordion {
    display: block;
  }
  .accordion::before {
    top: 10px;
  }
  .accordion::after {
    top: 10px;
  }

  .history-web {
    width: 100%;
  }

  /* --- Work --- */
  .work__list-item {
    margin: 10px 10px 20px;
  }

}
